* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: screen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: ease 1s;
    background-color: #0F0F12;
}

body::-webkit-scrollbar {
    display: none;
}



:root {
    /* DARK THEME */
    --bg-color: #1c1c25;

    /* Main text */
    --text-color: #f5f7fa;

    /* Paragraph / secondary text */
    --secondary-text: #a7adb8;

    /* All headings */
    --head-text: #ffffff;

    /* Your name / highlighted text */
    --name-text: #e5e9ed;

    /* Cards / sections */
    --card-bg-color: #252532;
    --card-border: #363647;
    --card-text: #f5f5f7;
    --card-description: #a9a9b5;


    /* Borders */
    --border-color: #3a3a47;

    /* Buttons / links / accents */
    --button-color: #3b82f6;

    /* Button text */
    --button-text: #ffffff;
}

body.bright {
    /* BRIGHT THEME */
    --bg-color: #ffffff;

    /* Main text */
    --text-color: #1c1c25;

    /* Paragraph / secondary text */
    --secondary-text: #5f6672;

    /* All headings */
    --head-text: #111827;

    /* Your name / highlighted text */
    --name-text: #2563eb;

    /* Cards / sections */
    --card-bg-color: #f4f5f7;
    --card-border: #e1e3e8;
    --card-text: #171923;
    --card-description: #5f6470;

    /* Borders */
    --border-color: #d1d5db;

    /* Buttons / links / accents */
    --button-color: #2563eb;

    /* Button text */
    --button-text: #ffffff;
}


.bright {
    background-color: #9CA3AF;
    color: #000;
}

.bright-view {
    color: black;
    background-color: #615f5f77;
    backdrop-filter: blur(10px);
}

#about-head,
#sk-head,
#pro-head,
#edu-head,
#cert-head {
    color: var(--head-text);
}


.loader {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;
    height: 100dvh;

    background: #000;

    z-index: 99999;
    overflow: hidden;
}

.loader-video {
    width: 100%;
    height: 100%;

    object-fit: cover;
    display: block;
}


#main {
    width: 100dvw;
}


#hero {
    position: relative;
    height: 100dvh;
    width: 100%;
    /* background-color: #0F0F12; */
    border: 1px solid transparent;
}

#navbar {
    position: absolute;
    top: 0;
    left: 1%;
    height: 6dvh;
    width: 12%;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 6px;
    margin-left: 6px;
    transform: translate(1%);
    background-color: #1b1b19;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

#navbar p {
    font-size: x-large;
}

#menu-container {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 9dvh;
    width: 22dvw;
    /* background-color: #bcb4b4; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.menu-icon {
    height: 90%;
    width: 20%;
    background-color: #48484a55;
    box-shadow:
        0 25px 60px rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);
    border: 3px solid rgb(117, 111, 111);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: var(--text-color);
}

.menu-icon a {
    text-decoration: none;
    color: var(--text-color);
}

#menu-box {
    display: none;
    position: absolute;
    top: 9%;
    right: 0%;
    height: 55dvh;
    width: 23%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--card-bg-color);
    color: var(--card-text);
    backdrop-filter: blur(10px);
}

#menu-item {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

#menu-item a {
    text-decoration: none;
    font-weight: 500;
    color: var(--text-color);
}

#menu-item a:hover {
    color: burlywood;
    transition: 0.6s ease;
}

#menu-cl {
    display: none;
}

#ic-bright {
    display: none;
}

/* .active {
    background-color: #9CA3AF;
    color: black;
} */

#my-img {
    position: absolute;
    bottom: 0;
    right: 28%;
    height: 108dvh;
    background-color: transparent;
    width: auto;
    z-index: 2;
}

#left-hero {
    height: 30dvh;
    /* width: 34dvw; */
    width: 520px;
    padding: 20px;
    position: absolute;
    left: 1%;
    top: 18%;
    background-color: transparent;
    border-radius: 20px;
}


#hr-btn {
    height: 5dvh;
    width: 15dvw;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 50px;
    padding-bottom: 1px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#hr-role {
    margin-top: 5px;
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
    line-height: 55px;
}

#hr-btn:hover {
    color: var(--name-text);
}

#right-hero {
    position: relative;
    height: 31dvh;
    /* width: 33dvw; */
    width: 430px;
    background: var(--card-bg-color);
    color: var(--text-color);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255, 255, 255, .12);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, .35),
        inset 0 1px rgba(255, 255, 255, .08);

    border-radius: 20px;
    position: absolute;
    right: -1%;
    top: 25%;
    padding: 20px;
    padding-left: 28px;
    transform: translate(90%);
}

/* #right-hero:hover {
    background: rgba(255, 255, 255, .09);

    transform: translateY(-6px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, .5);
} */

#hr-ab {
    color: var(--text-color);
    font-size: 22px;
}

#rg-btn {
    height: 7dvh;
    width: 4dvw;
    margin-top: 15px;
    border: 5px solid rgb(56, 51, 51);
    border-radius: 50px;
    font-size: xx-large;
    position: absolute;
    right: 48%;
}

#rg-btn:hover {
    rotate: 180deg;
    border: 5px solid var(--button-color);
    transition: 0.8s ease;
}

#name {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    font-size: 11vw;
    font-weight: 900;
    letter-spacing: -10px;
    white-space: nowrap;
    line-height: .9;
    color: var(--name-text);
}

#name {
    /* color: var(--text-color); */
    z-index: 1;
}

#stroke {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    font-size: 11vw;
    font-weight: 900;
    white-space: nowrap;
    letter-spacing: -10px;
    line-height: .9;
    color: transparent;
    -webkit-text-stroke: 2px #F5F5F5;
    z-index: 3;
    pointer-events: none;
}


#about {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid transparent;
}

#about-item {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: space-between;
}

#about-img {
    height: 90%;
    width: 30%;
    background-image: url("about-img.png");
    background-size: cover;
    background-position: center;
}

#about-detail {
    height: 90%;
    width: 63%;
    padding: 20px;
}

#about h1 {
    width: 100%;
    font-size: 7dvh;
    color: var(--head-text);
    text-align: center;
    padding-top: 10px;
    outline: #1b1b19;
    margin-bottom: 10px;
}

#about p {
    color: var(--text-color);
    font-size: x-large;
    padding-top: 15px;
}

#boxes {
    height: 60%;
    width: 90%;
    justify-self: center;
    /* background-color: aqua; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 40px;
    padding: 10px;
}

.box {
    height: 20dvh;
    width: 17dvw;
    border: 4px solid black;
    border-radius: 10px;
    background-color: var(--card-bg-color);
    backdrop-filter: blur(10px);
}

.box-num {
    text-align: center;
    font-size: 30px;
    color: var(--text-color);
}

.num-data {
    text-align: center;
    font-size: 20px;
    color: var(--text-color);
}

#skills {
    height: 100dvh;
    width: 100%;
    border: 1px solid transparent;
}

#sk-head {
    color: var(--head-text);
    text-align: center;
    font-size: 7dvh;
    margin-top: 30px;
    width: 100%;
}

#skill-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 80%;
    width: 95%;
    justify-self: center;
    margin-top: 25px;
}

.sb {
    position: relative;
    overflow: hidden;
    height: 43%;
    width: 30%;
    align-items: center;
    justify-content: center;
    display: flex;

    background: var(--card-bg-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 24px;

    transition: transform .4s ease,
        box-shadow .4s ease,
        border-color .4s ease;

}


.sb:hover {
    transform: translateY(-10px);

    background: rgba(96, 95, 95, 0.351);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);

    border-color: rgba(255, 255, 255, .15);

    box-shadow:
        0 20px 50px rgba(0, 0, 0, .45),
        inset 0 1px 0 rgba(255, 255, 255, .08);
}

.sb:hover::before {
    left: 170%;
}

.sb-item {
    height: 95%;
    width: 95%;
    text-align: center;
    padding: 20px;
}

.sb-item i {
    display: block;
    font-size: 75px;
    margin-top: 8px;
    color: green;
}

.sb-item h1 {
    color: var(--text-color);
}

.sb-item p {
    margin-top: 5px;
    font-size: large;
    color: var(--text-color);
}

#si1 {
    color: orange;
}

#si2 {
    color: blue;
}

#si3 {
    color: yellow;
}

#si4 {
    color: aquamarine;
}

#si5 {
    color: aqua;
}

#si6 {
    color: darkmagenta;
}

#project {
    position: relative;
    height: 240dvh;
    width: screen;
    margin-top: 30px;
    margin-bottom: 60px;
}

#pro-head {
    /* writing-mode: vertical-rl;
    text-orientation: mixed; */
    font-size: 65px;
    text-align: center;
    letter-spacing: -2px;
    color: var(--head-text);
    margin-bottom: 10px;
}

#pro-box {
    position: absolute;
    top: 6%;
    /* right: 3%; */
    height: 95%;
    width: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.pr-c {
    height: 20%;
    width: 95%;
    background-color: var(--card-bg-color);
    border: 3px double grey;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.prc-num {
    font-size: 30dvh;
    position: absolute;
    right: 20%;
    top: 5%;
    color: var(--secondary-text);
    font-family: fantasy;
}

.pr-img {
    height: 100%;
    width: 30%;
    background-color: darkgreen;
    z-index: 1099;
}

.pr-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.pr-detail {
    transform: translate(-100%);
    height: 100%;
    width: 70%;
    background-color: #1c1c25;
    z-index: 700;
    padding: 20px;
    text-align: center;
}

.pr-name {
    color: #aaaaaa;
    font-size: 40px;
    text-align: center;
}

.pr-tool {
    color: #908e8e;
    text-align: center;
    margin-top: 10px;
}

.pr-p {
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
    color: antiquewhite;
}

.btn-box {
    height: 20dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.pr-btn {
    height: 6dvh;
    width: 15dvw;
    border: 3px double darkslategray;
    border-radius: 10px;
    background-color: transparent;
    font-size: x-large;
    font-weight: 700;
}

.pr-btn a {
    text-decoration: none;
    color: rgb(194, 199, 200);
}

.pr-btn:hover {
    border: 2px solid darkslategrey;
    background-color: #3b3c3d;
    transition: ease 1s;
    color: #46382b;
}

.mc {
    height: 18dvh;
    width: 30%;
    background-color: var(--card-bg-color);
    border: 4px solid rgb(149, 149, 153);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    box-shadow: 5px black;
}

.mc p {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: var(--text-color);
}



#education {
    height: 100dvh;
    width: screen;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#education h1 {
    color: var(--head-text);
    font-size: 70px;
    text-align: center;
    margin-top: 10px;
}

#edu-box {
    height: 85%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.edu-card {
    height: 30%;
    width: 60%;
    /* border: 3px solid darkgray;
    background-color: #bcb4b489; */
    background: var(--card-bg-color);
    border: 1px solid rgba(255, 255, 255, .12);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.eb-num {
    height: 90%;
    width: 20%;
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.eb-num p {
    font-size: 135px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: -10px;
    margin-left: 5px;
}

.eb-detail {
    height: 94%;
    width: 75%;
    /* background-color: cyan; */
    padding: 5px;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ed-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
    color: var(--text-color);
}

.ed-board {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.ed-org {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.ed-loc {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.ed-com {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
}

#eb-1 {
    position: absolute;
    left: 5%;
    top: 2%;
}

#eb-2 {
    position: absolute;
    right: 5%;
    top: 35%;
}

#eb-3 {
    position: absolute;
    left: 5%;
    top: 68%;
}

#certification {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#cert-head {
    color: var(--head-text);
    font-size: 70px;
    text-align: center;
    margin-top: 5dvh;
}

#cert-box {
    height: 80%;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: antiquewhite; */
}

.c-card {
    position: relative;
    height: 38dvh;
    width: 30%;
    border: 3px solid #9CA3AF;
    border-radius: 10px;
    /* background-color: rgb(158, 103, 20); */
    overflow: hidden;
}

.c-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.c-over {
    display: none;
    /* position: absolute;
    bottom: 0;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color: #37373877;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center; */

}

.c-over p {
    align-self: center;
    font-size: 5dvh;
    font-weight: 700;
    color: orange;
}



/* contact part */
#contacts {
    position: relative;
    height: 100dvh;
    width: screen;
    /* background-color: rgb(195, 193, 193); */
    background-color: transparent;
}

#see-off {
    position: absolute;
    bottom: 12.5%;
    left: 5%;
    height: 70dvh;
    width: auto;
    overflow: hidden;
}

#meet {
    position: absolute;
    right: 2%;
    top: 2%;
    height: 40dvh;
    width: 20dvw;
    background-color: rgba(247, 249, 250, 0.432);
    backdrop-filter: blur(10px);
    border: 3px solid gray;
    border-radius: 10px;
}

#cont {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 30;
    padding: 8px;
    margin-bottom: 10px;
}

#meet i {
    display: block;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.a-link {
    text-decoration: none;
    color: black;
}

#frm {
    position: absolute;
    top: 10%;
    left: 2%;
    height: fit-content;
    padding: 20px;
    width: 40dvw;
    background-color: rgba(46, 45, 43, 0.453);
    backdrop-filter: blur(20px);
    border: 3px solid rgb(59, 58, 53);
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#frm h1 {
    font-weight: 100;
    padding: 8px;
    margin-left: 17px;
    font-weight: 300;
}

.bx {
    margin-left: 22px;
    width: fit-content;
    display: inline;
    height: 4dvh;
    width: 14dvw;
    text-align: center;
    font-size: large;
    font-family: cursive;
    font-weight: 400;
    padding: 3px;
    margin-bottom: 4px;
}

.bx:active {
    outline: 2px solid cadetblue;
}

#slct {
    height: 5dvh;
    width: 8dvw;
    margin-left: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 400;
    padding: 3px;
    margin-bottom: 4px;
}

.tx {
    height: 10dvh;
    width: 20dvw;
    margin-left: 20px;
    font-size: large;
    font-family: cursive;
    font-weight: 500;
    padding: 3px;
    text-align: center;
}

#tks {
    position: absolute;
    bottom: 0;
    height: 15dvh;
    width: 100%;
    background-color: darkslategray;
    padding: 50px;
    padding: 15px;
}

#subbtn {
    margin-top: 12px;
    margin-left: 15px;
    height: 5dvh;
    width: 9dvw;
    border: 3px solid black;
    border-radius: 50px;
    font-size: x-large;
}


#ll {
    text-align: center;
    padding-top: 22px;
    font-size: 35px;
    font-family: fantasy;
    letter-spacing: 10px;
    font-weight: 400;
}

#cnt {
    position: absolute;
    top: 14%;
    left: 5%;
    height: 50dvh;
    width: 20%;
    background-color: #6a6866;
    border-radius: 10px;
    rotate: 18deg;
}

#cnt2 {
    position: absolute;
    top: 14%;
    left: 5%;
    height: 50dvh;
    width: 20%;
    padding: 5px;
    background-color: #bcb4b4;
    background-image: url("my-ppf.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    rotate: 0deg;
}

#data {
    position: absolute;
    right: 4%;
    top: 10%;
    height: 68dvh;
    width: 60dvw;
    background-color: rgba(238, 231, 231, 0.582);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}